.container{

    display: flex;
    justify-content: center;
    align-items: start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15vh;
    height: 12vh;
    width: 100%;
}
