.containerList{
    margin-top: 3vh;
    box-sizing: border-box;
    padding-top: 1em;
    height: 60vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: scroll;
    border-top: #D8E6ED solid 1px;
    

}


/*estilos de los items*/

.itemContainer{
    text-align: start;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 1em;

    font-size: 1.2em;
    color: #D8E6ED;
    text-decoration: none;
}



