.containerList{
    margin-top: 3vh;
    margin-bottom: 3vh;
    box-sizing: border-box;
    padding-top: 1em;
    height: 60vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: scroll;
    border-top: #D8E6ED solid 1px;
    

}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    color: white;
    font-size: 6vh;
}

/*estilos de los items*/

.itemContainer{
    text-align: start;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 1em;

    font-size: 1.2em;
    color: #D8E6ED;
    text-decoration: none;

    display: flex;
    gap: .4em;
}
/* .amount{
    font-size: .7em;
} */


