@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');


.pageContainer{
    background-color: #071332;
    color: #fff;
    box-sizing: border-box;
    height: 110vh;
    display: flex;
    flex-direction: column;
}

.header,.msg,.giftSelected, .container_form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.textForm, .header{
    line-height: 1;
    font-weight: 600;
}

.header{
    height: 10vh;
    align-items: end;
    font-size: 1.4em;
    box-sizing: border-box;
}



.textForm{
    padding: .5em 1em;
    font-size: 1.2;
    box-sizing: border-box;
    display: flex;
    text-align: center;
}




.msg{
    box-sizing: border-box;
    align-items: center;
    padding-top:1em ;
    padding-bottom: 1em;
    font-size: 2em;
}

.giftSelected{
    font-size: 1.7em;
    font-weight: 600;
    padding: 1em 0;
    color: #D46B9D;
    filter: drop-shadow(1px 1px 0 #fff);
}

.container_form{
    padding: 2em 0;
    flex-direction: column;
    align-items: center;

}





.btn{
    height: 5vh;
    font-size: 1.5em;
    background: #D46B9D;
    filter: drop-shadow( 0px 0px 6px #ffffff75);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em ;
    margin-top: 1em;
    border-radius: .5em;
}

.input{
    height: 6vh;
    width: 60%;
    border: none;
    outline: none;
    padding-left: 1em;
    border-radius: .5em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;

}