.pageContainer{
    padding-top: 10vh;
    background-color: #9D2C62;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#175796,#9D2C62);
}

.title,.msg{
    color: #ffffff;
    font-weight: 600;
    font-style: italic;
    letter-spacing: .05em;
}
.title{

    font-size: 1.6em;
}
.subtitle{
    color: #D8E6ED;
    font-size: medium;
    font-weight: 500;
    padding: 1em;
    text-align: center;

}

.container_btn{
    box-sizing: border-box;
    margin-bottom: 10vh;
    margin-top: 4vh;
}