/* #175796 azul
 #FFFFFF blanco
 #D3D2D6 gris
 #9B295F rosa
 #8BAECE celeste*/

.pageContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/wallpaper.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 15vh;
    
}


.img_couple{
  width: 65%; 
   filter: drop-shadow( 0rem  0rem  3rem #fff); 
  border: solid #fff 3px;

  border-radius: 50%;
}
.img_title{
  width: 70%; 
  margin-top: 6vh;
}

.sombra{
  height: 100%;
  width: 100%;
  
  bottom: 0%;

  

background: rgb(255,255,255);
background: linear-gradient(180deg,  rgba(23, 86, 150, 0.092) 0%, rgba(255, 255, 255, 1)  91%);
}


