@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

.pageContainer{
    width: 100vw;
    box-sizing: border-box;
    background-color:  #175796 ;
    display: flex;
    flex-direction: column;
    color: #ffffff;

}


/*animacion para que cuando se comience a ver un 20% de la pagina se cambia a background-color: #8BAECE  y apareczca el texto*/


.title,.title_data,.text_data{

}
.title{
    height: 25vh;

    letter-spacing: -.05em;

    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 3.5em;
    font-weight: 600;
}

.content_data{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 100%;
    padding-inline-start: 3rem;
}


.title_data{ 
    font-size: 2.2em;

    font-weight: 600;
    box-sizing: border-box;
    margin-bottom: 2vh;
    font-style: italic;
}   

.text_data{
    font-size: 1.2em;
    font-weight: 500;
    box-sizing: border-box;
    padding-inline-start: .5rem;
    padding-bottom: .2rem;
}

.space{
    height: 5vh;
}

.button_container{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button_invitation{

    height: 60%;
    width:  50%;
    background-image: url("../../assets/btn_inv.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(0 0.5em .4em #071332b6);
}






/* .sangria{
    padding-left: .5em;
}
.paragraph,.sangria{
    font-weight: 600;
    text-align: start;  
} */
