.pageContainer{
    background-color: #175796 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-inline: 1rem;
    margin-top: 10vh;
    gap: .7rem;

}


.img_one{
    height: 45vh;
    box-sizing: border-box;
}

.img_one, .img_four,.img_two,.img_three{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: solid white .2rem;
}


.img_one{
   
    background-image: url("../../assets/photoOne.png");
}

.divOne{
    height: 30vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .7rem;
}
.img_two{
    background-image: url("../../assets/photoTwo.jpeg");

}
.img_three{
    background-image: url("../../assets/photoThree.jpeg");

}

.img_four{
    background-image: url("../../assets/horizontal.svg");

}

.boxTwo{
    display: grid;
    box-sizing: border-box;
}
