.pageContainer{
    height: 100vh;
    background-color: #175796 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    padding-inline: 1rem;
    gap: .7rem;

}


.img_one,.boxTwo{
    height: 45vh;
    box-sizing: border-box;
}

.img_one, .img_four,.img_two,.img_three{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: solid white .4rem;
}


.img_one{
   
    background-image: url("../../assets/edificio.svg");
}

.divOne{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .7rem;
}
.img_two{
    background-image: url("../../assets/desenfocada.svg");

}
.img_three{
    background-image: url("../../assets/manos.svg");

}

.img_four{
    background-image: url("../../assets/horizontal.svg");

}

.boxTwo{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    row-gap: .7rem;
}
