.pageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-inline: 1rem;
    gap: .7rem;
    padding-top: 10vh;
    /* background-image: linear-gradient(#fff,#175796); */

    /* background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(23,87,150,1) 100%); */

background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(23,87,150,1) 50%);
}


.img_one{
    height: 45vh;
    box-sizing: border-box;
}

.img_one, .img_four,.img_two,.img_three{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: solid white .2rem;
}


.img_one{
   
    background-image: url("../../assets/FOTOunoComprimida.png");
}

.divOne{
    height: 30vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .7rem;
}
.img_two{
    background-image: url("../../assets/photoTwo.jpeg");

}
.img_three{
    background-image: url("../../assets/photoThree.jpeg");

}

.img_four{
    background-image: url("../../assets/horizontal.svg");

}

.boxTwo{
    display: grid;
    box-sizing: border-box;
}
